body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
}

.logo img {
  height: 21px;
  display: block;
  margin-left: 21px;
}

@media (min-width: 540px) {
  .logo img {
    height: 30px;
  }
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  margin-right: 21px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #20a2e5;
  display: none;
}

.nav a:hover {
  color: #142b58;
}

@media (min-width: 540px) {
  .nav a {
    display: inline;
  }
}

.nav img {
  height: 21px;
  display: block;
  margin-right: 21px;
}

@media (min-width: 540px) {
  .nav img {
    display: none;
  }
}

/* - - - - - - - BODY - - - - - - -  */

main {
  background: linear-gradient(#4190c4, rgba(0, 0, 0, 1));
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  color: white;
}

@media (min-width: 540px) {
  .hero-container {
    height: 400px;
  }
}

@media (min-width: 960px) {
  .hero-container {
    height: 600px;
  }
}

@media (min-width: 1200px) {
  .hero-container {
    height: 800px;
  }
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text h1 {
  font-size: 7vw;
  text-align: center;
  margin: -1vh auto;
}

.hero-text p {
  font-size: 1.5vw;
  text-align: center;
}

.shallow-body {
  display: grid;
  grid-template-columns: repeat(6, 14vw);
  grid-template-rows: repeat(18, 14vw);
  padding: 50px;
}

/* - - - - - - - DROP DOWN MENU - - - - - - -  */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 58px;
  right: 0px;
  background-color: #fff;
  width: 130px;
  z-index: 1;
}

.dropdown-content a {
  color: #20a2e5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #142b58;
}

.show {
  display: block;
}

/* - - - - - - - CLOWN FISH - - - - - - - -  */

.clown-vector {
  display: block;
  opacity: 0.25;
  width: 70%;
  cursor: pointer;
  animation: bounce 2s infinite alternate;
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

@keyframes bounce {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(-40px);
  }
}

.clown-vector:hover {
  opacity: 1;
}

.clown-photo img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
}

/* - - - - - - - STAR FISH - - - - - - - -  */

.star-vector {
  display: block;
  opacity: 0.25;
  width: 75%;
  cursor: pointer;
  animation: roll 3s infinite ease;
  grid-column: 5 / 6;
  grid-row: 4 / 5;
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(370deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star-vector:hover {
  opacity: 1;
}

.star-photo img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
}

/* - - - - - - - Great White Shark - - - - - - - -  */

.shark-vector {
  display: block;
  opacity: 0.25;
  width: 100%;
  cursor: pointer;
  animation: shake 3s infinite ease-out;
  grid-column: 1 / 4;
  grid-row: 7 / 9;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-25px);
  }
  75% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0px);
  }
}

.shark-vector:hover {
  opacity: 1;
}

.shark-photo img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
}

/* - - - - - - - BLUE WHALE - - - - - - - -  */

.blue-whale-vector {
  display: block;
  opacity: 0.25;
  width: 100%;
  cursor: pointer;
  animation: bounce 4s infinite alternate;
  grid-column: 2 / 6;
  grid-row: 11 / 13;
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.blue-whale-vector:hover {
  opacity: 1;
}

.blue-whale-photo img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
}

/* - - - - - - - SQUID - - - - - - - -  */

.squid-vector {
  display: block;
  opacity: 0.25;
  height: 100%;
  cursor: pointer;
  animation: gelatine 2s infinite alternate;
  grid-column: 4 / 5;
  grid-row: 15 / 18;
}

@keyframes gelatine {
  0% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.95, 1.05);
  }
  50% {
    transform: scale(1.05, 0.95);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

.squid-vector:hover {
  opacity: 1;
}

.squid-photo img {
  width: 100%;
  max-height: 350px;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
}

/* - - - - - - - ASIDE 1 - - - - - - - -  */

.modal-control {
  fill: #fff;
  margin: 25px;
}

.modal {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 24px;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 800px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.modal-content h1 {
  margin-top: 20px;
}

.modal-content p {
  text-align: left;
  font-size: 14px;
  margin: 0 20px 20px 20px;
}

.modal-open {
  transform: translateX(0%);
  opacity: 1;
}

.clown-close,
.star-close,
.shark-close,
.whale-close,
.squid-close {
  background-color: rgba(0, 0, 0, 0);
  height: 15px;
  position: absolute;
  z-index: 20;
  margin: 10px;
  display: block;
  cursor: pointer;
}
