body {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
}

.logo img {
  height: 30px;
  display: block;
  margin-left: 21px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a {
  margin-right: 21px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #20a2e5;
  display: none;
}

.nav a:hover {
  color: #142b58;
}

@media (min-width: 600px) {
  .nav a {
    display: inline;
  }
}

.nav img {
  height: 24px;
  display: block;
  margin-right: 21px;
}

@media (min-width: 600px) {
  .nav img {
    display: none;
  }
}

/* - - - - - - - BODY - - - - - - -  */

main {
  background: linear-gradient(#4190c4, rgba(0, 0, 0, 1));
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  color: white;
}

.hero-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-text h1 {
  font-size: 48px;
  text-align: center;
  margin: -6px auto;
}

@media (min-width: 600px) {
  .hero-text h1 {
    font-size: 80px;
  }
}

.hero-text p {
  font-size: 11px;
  text-align: center;
}

@media (min-width: 600px) {
  .hero-text p {
    font-size: 18px;
  }
}

.shallow-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: 400px;
  padding: 50px;
  border: 1px solid green;
}

.deep-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 50px;
  border: 1px solid yellow;
}

/* - - - - - - - DROP DOWN MENU - - - - - - -  */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 58px;
  right: 0px;
  background-color: #fff;
  width: 130px;
  z-index: 1;
}

.dropdown-content a {
  color: #20a2e5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  padding: 12px;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: #142b58;
}

.show {
  display: block;
}

/* - - - - - - - CLOWN FISH - - - - - - - -  */

.clown-vector {
  display: block;
  opacity: 0.25;
  animation: bounce 3s infinite alternate;
  width: 10%;
}

@keyframes bounce {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(-25px);
  }
}

.clown-vector:hover {
  opacity: 1;
}

.clown-photo {
  background: url("https://as2.ftcdn.net/jpg/03/16/44/65/500_F_316446573_jTwGJQWLOnRK71QXwKrEkYX8Cql97pQh.jpg");
  background-size: cover;
  background-position: center;
}

/* - - - - - - - STAR FISH - - - - - - - -  */

.star-vector {
  display: block;
  opacity: 0.25;
  width: 15%;
  animation: bounce 3s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(-25px);
  }
}

.star-vector:hover {
  opacity: 1;
}

.star-photo {
  background: url("https://as2.ftcdn.net/jpg/02/13/70/69/500_F_213706998_hHBDkj9RY8lIjNn9cDgeOf8SdbDBtpFR.jpg");
  background-size: cover;
  background-position: center;
}

/* - - - - - - - BLUE WHALE - - - - - - - -  */

.blue-whale-vector {
  display: block;
  opacity: 0.25;
  width: 50%;
  animation: bounce 3s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(-25px);
  }
}

.blue-whale-vector:hover {
  opacity: 1;
}

.blue-whale-photo {
  background: url("https://as2.ftcdn.net/jpg/02/04/55/51/500_F_204555192_HJSMbvWq0YkhKKUeZngxXmpvGqCX5kEC.jpg");
  background-size: cover;
  background-position: center;
}

/* - - - - - - - SQUID - - - - - - - -  */

.squid-vector {
  display: block;
  opacity: 0.25;
  width: 25%;
  animation: bounce 3s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(25px);
  }
  to {
    transform: translateY(-25px);
  }
}

.squid-vector:hover {
  opacity: 1;
}

.squid-photo {
  background: url("https://as1.ftcdn.net/jpg/02/19/61/88/500_F_219618860_9O01L4U7sTUuWSjjNt38wudML2jNmWFm.jpg");
  background-size: cover;
  background-position: center;
}

/* - - - - - - - ASIDE 1 - - - - - - - -  */

.info-control {
  fill: #fff;
  margin: 25px;
  border: 1px solid red;
}

.info {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  position: fixed;
  transition: all 0.35s ease-in-out;
  transform: translateX(100%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-content {
  background-color: rgba(0, 0, 0, 0.75);
  width: 75%;
  height: 75%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
}

.info-content h1 {
  margin-top: 20px;
}

.info-content p {
  text-align: left;
  font-size: 14px;
  margin: 0 20px 20px 20px;
}

.fish-photo {
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-open {
  transform: translateX(0%);
  opacity: 1;
}

.info-close {
  background-color: rgba(0, 0, 0, 0);
  height: 15px;
  position: absolute;
  z-index: 20;
  margin: 10px;
  display: block;
}

.info-close:hover {
  cursor: pointer;
}
